{% extends "layout.html" %} {%block content %}

<div class="container mt-5" id="main-box">
  <h1>About Brno Blend</h1>
  <p>
    Welcome to Brno Blend, your personalized guide to discovering events in
    Brno!
  </p>
  <div>
    <h2>Motivation</h2>
    <p>
      Brno, with its vibrant cultural scene and diverse events, offers a
      plethora of activities for its residents and visitors. However, navigating
      through this rich tapestry of events can be overwhelming. Many people
      struggle to find events that match their interests, leading to missed
      opportunities and frustration.
    </p>
    <p>
      The motivation behind Brno Blend is to simplify this process by leveraging
      the power of data and personal preferences. By harnessing data from
      data.brno.cz and using intelligent algorithms, Brno Blend aims to deliver
      personalized event recommendations tailored to your unique preferences.
    </p>
    <h2>What is Brno Blend?</h2>
    <p>
      Brno Blend is a web application designed to help users discover and
      explore events in Brno that match their interests. By leveraging data from
      data.brno.cz and using intelligent algorithms, Brno Blend curates a
      tailored list of events for each user, enhancing their event discovery
      experience.
    </p>
    <h2>How It Works</h2>
    <ol>
      <li>
        <strong>Personalized Preferences:</strong>
        Users specify their favorite event categories, preferred locations, and
        desired dates.
      </li>
      <li>
        <strong>Smart Recommendations:</strong>
        Brno Blend analyzes user preferences and matches them with relevant
        events from its database.
      </li>
      <li>
        <strong>Explore and Enjoy:</strong>
        Users can view detailed event information, including descriptions,
        dates, and locations, and decide which events to attend.
      </li>
    </ol>
  </div>
</div>

{% endblock %}
